@use '@/scss/variables/main.scss';

.wrapper {
  max-width: 1450px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 4fr;

  .container {
    grid-column: 2;

    .poke__grid {
      width: 100%;
      display: grid;
      grid-gap: 1.6rem;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      justify-content: center;

      padding: 0.25rem;
    }
  }
}

.poke__menu {
  grid-column: 1;
  padding: 5.3rem 0;

  width: 100%;
  display: flex;

  position: relative;

  ul {
    position: fixed;


    display: flex;
    flex-direction: column;
    list-style: none;

    li {
      color: main.$gray_700;
      text-transform: capitalize;
      margin: 0.25rem;
      padding: 1px 16px;
      border-radius: 4px;
      font-size: 1.1rem;
      // background:
      //   selectedType === type.url ? '#1e40af' : 'transparent',
      // color: selectedType === type.url ? '#18181b' : '#fafafa',
      cursor: pointer;
    }
  }
}