@use '@/scss/variables/main.scss';

.grid_container {
  width: 100%;
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;

  margin-block: 0.7rem;
  padding-bottom: 3rem;
}

.poke__loading {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50rem;

  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  color: main.$blue_100;
}

.poke__dex_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.455rem;


  .poke__dex_title {
    h1 {
      color: main.$blue_800;
      font-weight: 600;
    }

    .poke__dex_describe {
      display: flex;
      align-items: center;
      gap: 0.655rem;

      color: main.$gray_700;

      h3 {
        font-size: 1rem;
        font-weight: 400;
      }

      span {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: main.$red_600;
      }

      button {
        border: 2px solid transparent;
        background: transparent;

        color: main.$gray_500;
        font-size: medium;
        font-weight: 600;

        padding: 0.4rem 0.6rem;

        transition: all 0.4s ease-in-out;

        &:hover {
          border: 2px solid main.$blue_800;
          color: main.$blue_800;
          border-radius: 0.5rem;
        }
      }
    }
  }
}