$red_600: #D90429;
$red_400: #EF233C;

$gray_100: #EDF2F4;
$gray_500: #8D99AE;
$gray_700: #2B2D42;

$white: #fff;
$black: #000;

$blue_50: #eff6ff;
$blue_100: #dbeafe;
$blue_200: #bfdbfe;
$blue_300: #93c5fd;
$blue_400: #60a5fa;
$blue_500: #3b82f6;
$blue_600: #2563eb;
$blue_700: #1d4ed8;
$blue_800: #1e40af;
$blue_900: #1e3a8a;
$blue_950: #172554;

$emerald_50: #ecfdf5;
$emerald_100: #d1fae5;
$emerald_200: #a7f3d0;
$emerald_300: #6ee7b7;
$emerald_400: #34d399;
$emerald_500: #10b981;
$emerald_600: #059669;
$emerald_700: #047857;
$emerald_800: #065f46;
$emerald_900: #064e3b;
$emerald_950: #022c22;